.content-grid,
.trending-grid {
  list-style: none;
  padding: 0 16px;
  display: grid;
  grid-template-columns: repeat(2, minmax(164px, 1fr));
  gap: 15px;
}

.trending-grid {
  grid-template-columns: repeat(5, 240px);
  grid-template-rows: repeat(1, minmax(140px, auto));
  gap: 16px;
  overflow-x: auto;
  scrollbar-width: thin;
  // scrollbar-width: none;
  // -ms-overflow-style: none;
}

// .trending-grid::-webkit-scrollbar {
//   display: none;
// }

:global(.grid-wrapper) {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media (min-width: 768px) {
  .content-grid {
    padding: 0 25px;
    grid-template-columns: repeat(3, minmax(220px, 1fr));
    gap: 24px 30px;
  }

  .trending-grid {
    padding: 0 25px;
    grid-template-columns: repeat(5, 470px);
    grid-template-rows: repeat(1, minmax(230px, auto));
    gap: 40px;
  }
}

@media (min-width: 1024px) {
  .content-grid,
  .trending-grid {
    padding: 0;
  }

  .content-grid {
    padding-right: 36px;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 24px 40px;
  }

  .trending-grid {
    padding-right: 36px;
  }

  :global(.grid-wrapper) {
    gap: 32px;
  }
}
