.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .app {
    padding: 23px 0;
  }
}

@media (min-width: 1024px) {
  .app {
    padding: 32px 0 0;
    flex-direction: row;
  }
}