@use '/src/sass/modern-normalize.min.scss';
@use '/src/sass/variables.scss' as *;
@use '/src/sass/mixins.scss' as *;

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role='list'],
ul[role='list'] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

body {
  color: $white;
  font-family: 'Outfit', sans-serif;
  background-color: $blue-950;
}

button {
  border: none;
  cursor: pointer;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

.empty-placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}