@use '/src/sass/variables.scss' as *;
@use '/src/sass/mixins.scss' as *;

.content-item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.trending-class {
  position: relative;
  padding: 14px 16px;
  width: 100%;
  height: 100%;
  justify-content: end;
  border-radius: 8px;
  overflow: hidden;

  .bg-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .info {
    @include text-preset-5-mobile;
  }
  .title {
    @include text-preset-3-mobile;
  }
}

.img-box {
  width: 100%;
  height: 110px;

  & > img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
  }
}
.info {
  padding: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  @include text-preset-6-mobile;

  &-item {
    position: relative;
    padding-right: 8px;
    display: flex;
    align-items: center;
    gap: 8px;

    &:not(:last-child)::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(50%, -50%);
      z-index: 2;
      width: 2px;
      height: 2px;
      background-color: $white;
    }

    img {
      width: 10px;
      height: 10px;
    }
  }
}
.title {
  @include text-preset-4-mobile;
}

.bookmark-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

@media (min-width: 768px) {
  .trending {
    padding: 24px 21px;

    .info {
      @include text-preset-4;
    }
    .title {
      @include text-preset-2-medium;
    }

    .bookmark-btn {
      top: 16px;
      right: 24px;
    }
  }

  .img {
    height: 140px;
  }
  .info {
    @include text-preset-5;

    &-item {
      img {
        width: 12px;
        height: 12px;
      }
    }
  }
  .title {
    @include text-preset-3;
  }

  .bookmark-btn {
    top: 16px;
    right: 16px;
  }
}

@media (min-width: 1024px) {
  .img {
    height: 174px;
  }
}
